<%- include("partials/header") %>
<div class="container">
    <h1>Please verify your email address</h1>
    <p>Before you can contribute your articles on Grasp,we need you to verify your email address.</p>
    <br>
    <br>
    <p>An email containing verification instructions was sent to <b><%= user.email %></b>.</p>


</div>







<%- include("partials/footer") %>