<%- include("partials/header") %>
<style>
    body {
 
        background: url("https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
 background-size: cover;
 background-position: center;
 color: white;
}
html{
    height: 100%;
}
</style>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div id="content">
                
                <h3>Create a blog and share </h3>
                <h3>your voice in minutes</h3>
                <hr>
                <p>Grasp is not like any other platform on the internet. Our sole purpose is to help you find compelling ideas, knowledge, and perspectives. Grasp is home to thousands of independent voices, and we combine humans and technology to find the best reading for you.<p>
               <br>
               <a class="btn btn-danger" href="/signup">Get Started</a>
            </div>
            
        </div>
    </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<!-- <div class="caption">
    <h1 id="grasp"><i class="gofore icon"></i>Grasp</h1>
    <h1><strong>Get smarter about what <br>matters to you.</strong></h1>
</div> -->
<!-- <div>
    <p>Already have an account?
        <a href="/signup">Sign up</a>
    </p>
</div> -->
<!-- <div>
    <h1>We do things differently.</h1>
    <p>Grasp is not like any other platform on the internet. Our sole purpose is to help you find compelling ideas, knowledge, and perspectives. We don’t serve ads—we serve you, the curious reader who loves to learn new things. Grasp is home to thousands of independent voices, and we combine humans and technology to find the best reading for you—and filter out the rest.
    </p>
</div>
<div>
    <p><strong>Expand your reading.<br>
        Expand your mind.</strong></p>
</div> -->
<%- include("partials/footer") %>